<div class="address-page container">
  <div class="address-header">
      <p>manage address</p>
  </div>
  {% assign address = customer.addresses.first %}
  <div class="address-form-wrapper col-md-4">
      <form></form>
      {% form 'customer_address', address %}
          <div class="address1 col-md-12">
            <label for="address1">address 1*</label>
            <input id="address1" type="text" name="address[address1]">
          </div>
          <div class="address2 col-md-12">
            <label for="address2">address 2</label>
            <input id="address2" type="text" name="address[address2]">
          </div>
          <div class="city col-md-12">
              <label for="city">city</label>
              <input id="city" type="text" name="address[city]">
          </div>
          <div class="state col-md-6">
              <label for="state">state/province</label>
              <input id="state" type="select" name="addresss[province]">
          </div>
          <div class="zip-code col-md-6">
              <label for="zip-code">zip code</label>
              <input id="zip-code" type="text" name="address[zip]">
          </div>
          <div class="submit-button col-md-12">
              <input type="submit" value="SAVE">
          </div>
      {% endform %}
  </div>
</div>