<div class="contact-page container">
	<form></form>
	{% form 'contact' %}
	<div class="contact-description row">
		<div class="contact-text col-md-7">
			<p class="contact-header"> {{page.title | append: ' us'}}</p>
			<p class="contact-header-mobile">{{page.title}} </p>
			<p class="contact-faq"> {{page.content}} </p>
		</div>
	</div>
	<div class="contact-input row">
		<div class="contact-input-wrapper col-xs-12 col-md-7">
			<div class="name-input-wrapper col-md-6">
				<label for="name-input">name*</label>
				<input type="text" id="name-input" class="name-input col-md-6" name="contact[name]" required>
			</div>
			<div class="email-input-wrapper col-xs-12 col-md-6">
				<label for="email-input">email address*</label>
				<input type="text" id="email-input" name="contact[email]" class="col-md-6" required>
			</div>
			<div class="subject-input-wrapper col-xs-12 col-md-12">
				<label for="subject-input">subject</label>
				<input type="text" id="subject-input" name="contact[subject]">
			</div>
			<div class="message-input-wrapper col-xs-12 col-md-12">
				<label for="message-input">message</label>
				<textarea rows="10" name="message-input" name="contact[message]"></textarea>
			</div>
			<div class="submit-button col-xs-12 col-md-12">
				<input type="submit" value="SEND"> 
			</div>
		</div>
	</div>
	{% endform %}
</div>