 {% schema %}
 { 
 	"name":"Divider",
 	"settings": [
 		{
 			"type":"color",
 			"id":"color",
 			"label": "Divider Color"
 		}
 	],
 	"presets": [
 		{
 			"name":"Divider",
 			"category": "Divider",
 			"settings": {
 				"color": "#000000"
 			}
  		}
 	]
 }
 {% endschema %}
 <div class="row widen">
 	<div class="divider col-md-11 col-sm-12 col-xs-12 centered"></div>	
 </div>
