{% schema %}
	{
		"name": "Featured Collection",
		"settings": [
			{
				"type": "image_picker",
				"id": "image",
				"label":"image"
			},
			{
				"type": "text",
				"id": "title",
				"label":"Title"
			},
			{
				"type": "text",
				"id":"description",
				"label":"Description"
			},
			{
				"type": "text",
				"id": "button_label",
				"label":"Button Label"
			}

		],
		"presets": [
		{
			"name": "Featured Collection",
			"category": "image",
			"settings": {
				"title":"Collection Title",
				"description":"Describe your product here.",
				"button_label":"shop now"
			}
		}
	]
}
{% endschema %}


<div class="container">
	<div class="row">
  			<div class="img-wrapper col-xs-12 col-md-6" style="background-image:url({{ section.settings.image | img_url: 'master' }})"></div>
  			<div class="content col-xs-12 col-md-6 nopadding">
  				<div class="angle hidden-xs hidden-sm"></div>
  				<div class="text-button col-md-11">
  					<p class="text">
  						<span class="title"><b>{{ section.settings.title }}</b></span>
  						<span>{{ section.settings.description }}</span>
  					</p>
  					<div class="button">
  						<button class="button-1">{{ section.settings.button_label }}</button>
  					</div>
  				</div>	
   			</div>
	</div>
</div>
