<div class="footer-page container" id="footer">
  <div class="angled-border"></div>
  <div class="email-input col-xs-11 col-md-4 col-md-push-8">
    <p>subscribe to get the latest news</p>
    <form> </form>
    <form action="https://weliving.us14.list-manage.com/subscribe/post?u=3608956686bf3c57466c2b7db&amp;id=dba07b256b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <input type="email" value="" name="EMAIL" required  id="mce-EMAIL" placeholder="Enter your email">
      <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_3608956686bf3c57466c2b7db_dba07b256b" tabindex="-1" value=""></div>
      <button type="submit">
        {{ 'arrow.svg' | asset_url | img_tag }}
      </button>
    </form>
  </div>
  <div class="footer-links col-xs-12 col-md-8 col-md-pull-4">
    <ul>
      <li><a href="/pages/shipping-and-return?view=shipping-and-return">shipping &amp return</a></li>
      <li><a href="/pages/faq?view=faq">faq</a></li>
      <li><a href="/pages/contact?view=contact">contact</a></li>
      <li><a href="/pages/terms-conditions?view=terms-and-conditions">terms & conditions</a></li>
    </ul>
  </div>
  <div class="social-media-space col-xs-12 col-md-3 col-md-push-5">
    <div class="social-media-links">
     <a href="https://www.instagram.com/welivingus" target="_blank"><img src="https://cdn.shopify.com/s/files/1/2176/2625/files/Instagram_1.png?9899784183095026280"></a>
     <a href="https://www.facebook.com/welivingus" target="_blank"><img src="https://cdn.shopify.com/s/files/1/2176/2625/files/Facebook_2.png?9899784183095026280"></a>
     <a href="https://www.pinterest.com/welivingus" target="_blank"><img src="https://cdn.shopify.com/s/files/1/2176/2625/files/Pinterest_1.png?9899784183095026280"></a>
     <a href="https://www.twitter.com/welivingus" target="_blank"><img src="https://cdn.shopify.com/s/files/1/2176/2625/files/Twitter_1.png?9899784183095026280"></a>
    </div>
  </div>
  <div class="phone-number col-xs-12 col-md-4 col-md-pull-3"> 
    <p>929.266.8852</p>
    <p>info&#64weliving.us</p>  
  </div>
</div>