<div class="footer">
  <div class="angled-border"></div>
  <div class="email-input">
    <p>Subscribe to get the latest news</p><input type="text" placeholder="Enter your email"><a href="#"><img class="arrow" src="http://via.placeholder.com/20x20"></a>
  </div>
  <div class="footer-links">
    <ul>
      <li><a href="/pages/shipping-and-return?view=shipping-and-return">shipping &amp return</a></li>
      <li><a href="/pages/faq?view=faq">faq</a></li>
      <li><a href="/pages/contact?view=contact">contact</a></li>
      <li><a href="/pages/terms-conditions?view=terms-and-conditions">terms & conditions</a></li>
    </ul>
  </div>
  <div class="social-media-space">
    <div class="social-media-links">
     <a href="#"><img src="http://via.placeholder.com/25x25"></a>
     <a href="#"><img src="http://via.placeholder.com/25x25"></a>
     <a href="#"><img src="http://via.placeholder.com/25x25"></a>
     <a href="#"><img src="http://via.placeholder.com/25x25"></a>
    </div>
  </div>
  <div class="phone-number"> 
    <p>929.266.8852</p>
    <p>info&#64weliving.us</p>  
  </div>
</div>