<div class="header">
	<hr style="height:1.25px;border:none;color:#333;background-color:#333;margin-top:80px">
	<a href="weliving.shopify.com">
		<img style="position:absolute;top:10px;left:25px" src="http://via.placeholder.com/65x65">
	</a>
	<div class="header-tabs">
		<font style="font-size:3;position:absolute;top:55px;left:350px"> <a style="color:blue;text-decoration:none;background-color:transparent" href="weliving.myshopify.com/collections"> SHOP </a> </font>
		<font style="font-size:3;position:absolute;top:55px;left:450px"> <a style="color:blue;text-decoration:none;background-color:transparent" href="google.com"> ABOUT </a> </font>
		<font style="font-size:3;position:absolute;top:55px;left:550px"> <a 			style="color:blue;text-decoration:none;background-color:transparent" href="google.com"> BLOG </a> </font>
		<font style="font-size:3;position:absolute;top:55px;left:650px"> <a style="color:blue;text-decoration:none;background-color:transparent" href="google.com"> LOOKBOOK </a> </font>
		<font style="font-size:3;position:absolute;top:55px;left:800px"> <a style="color:blue;text-decoration:none;background-color:transparent" href="google.com"> NEED HELP </a> </font>
		<font style="font-size:3;position:absolute;top:55px;right:110px"> <a style="color:blue;text-decoration:none;background-color:transparent" href="google.com"> SIGN IN </a> </font>
	</div>
	<a href="weliving.myshopify.com">
		<img style="position:absolute;top:40px;right:40px" src="http://via.placeholder.com/30x30">
	</a>
</div>