<div class="header">
  <div class="menu-mobile-option">
    <p>Menu</p>
  </div>
  <div class="home-icon"><a href="#"><img src="http://via.placeholder.com/60x60"></a></div>
  <nav class="header-tab-space">
    <ul>
      <li>
        <a href="#"> Shop </a>
      </li>
      <li>
        <a href="#"> About </a>
      </li>
      <li>
        <a href="#"> Blog </a>
      </li>
      <li>
        <a href="#"> 
        Lookbook</a>
      </li>
      <li>
        <a href="#">Need Help</a>
      </li>
      <li class="last-child-nav">
        <a href="#"> Sign In </a>
      </li>
    </ul>
  </nav>
  <div class="checkout-image">
    <a href="#"><img src="http://via.placeholder.com/30x30"></a>
  </div>
  <div class="header-seperation"></div>
</div>



