<div class="header">
  <img class="home-icon" src="http://via.placeholder.com/65x65">
  <nav>
    <ul>
      <li>
        <a href="#"> Shop </a>
      </li>
      <li>
        <a href="#"> About </a>
      </li>
      <li>
        <a href="#"> Blog </a>
      </li>
      <li>
        <a href="#"> Lookbook </a>
      </li>
      <li>
        <a href="#"> Need Help </a>
      </li>
      <li class="last-child-nav">
        <a href="#"> Sign In
      </li>
    </ul>
  </nav>
  <img class="checkout-image" src="http://via.placeholder.com/30x30">
  <hr>
</div>




