<div class="alt-header nopadding container">
	<div class="alt-mobile-menu-wrapper col-xs-3">
		<div class="alt-mobile-menu-dropdown" id="alt-menu-trigger">
			<p>menu</p>
		</div>
	</div>
	<div class="dropdown-links" id="dropdown">
		<img class="dropdown-image" src="https://cdn.shopify.com/s/files/1/2176/2625/files/weliving_logo.png?11859824361046747801">
		<ul class="submenu">
			<li><a href="/collections/products">shop</a></li>
			<li><a href="/pages/about?view=about">about</a></li>
			<li><a href="/blogs/posts?view=recent-and-categories">blog</a></li>
			<li><a href="/pages/lookbook?view=lookbook">lookbook</a></li>
			<li class="sub-dropdown">
				<a href="#footer">need help</a>
				<ul class="sub-menu">
					<li><a href="/pages/shipping-and-return?view=shipping-and-return">shipping & return</a><li>
					<li><a href="pages/faq?view=faq">faq</a></li>
					<li><a href="/pages/contact?view=contact">contact</a></li>
				</ul>
			</li>
			<li class="sub-menu"><a href="#">sign in</a></li>
		</ul>
	</div>
	<div class="alt-home-icon-wrapper col-xs-6 col-md-2">
		<div class="alt-home-icon">
			<img src="https://cdn.shopify.com/s/files/1/2176/2625/files/Logo_White.png?1967539470793251460">
		</div>
	</div>
	<div class="alt-navigation-links-wrapper col-md-8">
		<ul class="alt-navigation">
			<li class="shop-link"><a href="/collections/products">shop</a></li>
			<li class="about-link"><a href="/pages/about?view=about">about</a></li>
			<li class="blog-link"><a href="/blogs/posts?view=recent-and-categories">blog</a></li>
			<li class="lookbook-link"><a href="/pages/lookbook?view=lookbook">lookbook</a></li>
			<li class="alt-help-dropdown">
		        <div class="alt-dropdown-link">
		          <p class="alt-dropdown-text">need help</p>
		        </div>
		        <div class="alt-dropdown-content">
		          <a href="/pages/shipping-and-return?view=shipping-and-return">shipping & return</a>
		          <a href="pages/faq?view=faq">faq</a>
		          <a href="/pages/contact?view=contact">contact</a>
		        </div>
		    </li>
		</ul>
	</div>
	<div class="alt-sign-in-checkout-wrapper col-xs-3 col-md-2">
		{% if customer %}
			<div class="alt-account-dropdown">
				<div class="alt-account-hover">
					<p>my account</p>
				</div>
				<div class="alt-account-links">
					<a href="/account/addresses">manage address</a>
	         		<a href="/account">order history</a>
	          		{{ 'Log out' | customer_logout_link }}
	        	</div>
	        </div>
        {% else %}
			<div class="alt-sign-in">
				<p><a href="/account/login">sign in</a></p>
			</div>
		{%endif%}
		<div class="alt-checkout-img">
			<a href="/cart"><img src="{{'cart-homepage.svg'|asset_url}}"><span class="cart-count" v-cloak>${cart.item_count}</span></a>
		</div>
	</div>
</div>
<script>
	$(document).ready(function() {
		$(".alt-mobile-menu-dropdown").click(function() {
			$(".dropdown-links").slideDown(500);
		});
		$(".sub-menu").click(function() {
			$(".")
		})
	});
</script>