<div class="header">
  <div class="menu-mobile-option">
    <p>Menu</p>
  </div>
  <div class="home-icon"><a href="#"><img src="{{'home-icon-ph.png' | asset_url}}"</a></div>
  <nav class="header-tab-space">
    <ul>
      <li>
        <a href="/collections/products"> Shop </a>
      </li>
      <li>
        <a href="#"> About </a>
      </li>
      <li>
        <a href="/blogs/posts?view=recent-and-categories"> Blog </a>
      </li>
      <li>
        <a href="#"> 
        Lookbook</a>
      </li>
      <li>
        <a href="#">Need Help</a>
      </li>
      <li class="last-child-nav">
        <a href="#"> Sign In </a>
      </li>
    </ul>
  </nav>
  <div class="checkout-image">
    <a href="#"><img src="{{'checkout-image-ph.png'|asset_url}}"></a>
  </div>
  <div class="header-seperation"></div>
</div>



