<div class="header">
  <div class="menu-mobile-option">
    <p>Menu</p>
  </div>
  <div class="home-icon"><img src="http://via.placeholder.com/60x60"></div>
  <nav class="header-tab-space">
    <ul>
      <li>
        <a href="#"> Shop </a>
      </li>
      <li>
        <a href="#"> About </a>
      </li>
      <li>
        <a href="#"> Blog </a>
      </li>
      <li>
        <a href="#"> 
        Lookbook</a>
      </li>
      <li class="last-child-nav">
        <a href="#"> Sign In </a>
      </li>
    </ul>
  </nav>
  <div class="checkout-image"><img src="http://via.placeholder.com/30x30">
  </div>
  <div class="header-seperation"></div>
</div>



