.about-homepage {
	padding-left:70px;
	padding-right:70px;
}
.about .description .text {
	margin-top:75px;
	margin-left:25px;
}
.description .text .title {
	font-size: 35px !important;
	margin-bottom:40px;
}
.description .text span {
	display: block;
	font-size: 20px;
	line-height:27px;
}
.about .about-image {
	padding:0;
}
.about .about-image .desktop-image {
	width:100%;
}
.about .about-image .mobile-image {
	display:none;
}

@media screen and (max-width:992px) {
	.about .about-image .desktop-image {
		display:none;
	}
	.about .about-image .mobile-image {
		display:initial;
		width:100%;
	}
	.about-homepage {
		padding-left:15px;
		padding-right:15px;
	}
	.about .description .text {
		margin-top:7px;
		margin-left:0px;
		padding:0;
	}
	.description .text .title {
		font-size:23px !important;
		margin-bottom:7px;
	}
	.about .description .text span {	
		font-size:15px;
	}
	.about .about-image {
		padding-left:5px;
		padding-right:5px;
	}
}
