.about-page {
	margin:0;
	padding:0;
	width:100%;
}

.about-page .first-hero {
	position:relative;
	margin-bottom:110px;
}
.about-page .about-header {
	text-align:center;
	margin-top:70px;
}
.about-page .about-header p {
	font-size:40px;
	font-family:oswaldmedium;
	letter-spacing:4px;
	margin:0;
	text-transform:uppercase;
	color:#4D4D4A;
}
.about-page .first-hero .first-hero-text-wrapper {
	background-color:#F0F0F0;
	position:absolute;
	right:120px;
	bottom:-110px;
	z-index:1;
	padding:50px;
	padding-bottom:35px;
}
.about-page .first-hero .first-hero-content-wrapper .first-hero-text-wrapper .text {
	font-family:apercumedium;
	font-size:17px;
	letter-spacing:1px;
	line-height: 22px;
	color:#4D4D4A;
}
.about-page .first-hero .first-hero-text-wrapper .title {
	font-family:oswaldmedium;
	letter-spacing:3px;
	font-size:35px;
	text-transform:uppercase;
	margin-bottom:20px;
	color:#4D4D4A;
}
.about-page .first-hero .first-hero-content-wrapper .desktop-image {
	width:100%;
}
.about-page .second-hero {
	position:relative;
	margin-bottom:320px;
}
.about-page .second-hero .second-hero-content-wrapper .desktop-image {
	width:100%;
}
.about-page .second-hero .second-hero-content-wrapper .second-hero-text-wrapper {
	background-color:#F0F0F0;
	position:absolute;
	z-index:1;
	padding:50px;
	padding-bottom:35px;
	left:90px;
	bottom:-320px;
}
.about-page .second-hero .second-hero-content-wrapper .second-hero-text-wrapper .title {
	font-family:oswaldmedium;
	letter-spacing:3px;
	font-size:35px;
	text-transform:uppercase;
	margin-bottom:20px;
	color:#4D4D4A;
}
.about-page .second-hero .second-hero-content-wrapper .second-hero-text-wrapper .text {
	font-family:apercumedium;
	font-size:17px;
	letter-spacing:1px;
	line-height: 22px;
	color:#4D4D4A;
}
.about-page .third-hero {
	position:relative;
	margin-bottom:760px;
	color:#4D4D4A;
}
.about-page .third-hero .third-hero-content-wrapper .desktop-image {
	width:100%;
}
.about-page .first-hero .first-hero-content-wrapper .mobile-image,
.about-page .second-hero .second-hero-content-wrapper .mobile-image,
.about-page .third-hero .third-hero-content-wrapper .mobile-image {
	display:none;
}
.about-page .third-hero .third-hero-text-wrapper {
	background-color:#F0F0F0;
	padding:50px;
	padding-bottom:35px;
	position:absolute;
	right:125px;
	bottom:-650px;
}
.about-page .third-hero .third-hero-text-wrapper .title {
	font-family:oswaldmedium;
	letter-spacing:3px;
	font-size:35px;
	text-transform:uppercase;
	margin-bottom:20px;
	color:#4D4D4A;
}
.about-page .third-hero .third-hero-content-wrapper .third-hero-text-wrapper .text {
	font-family:apercumedium;
	font-size:17px;
	letter-spacing:1px;
	line-height: 22px;
	color:#4D4D4A;
}
@media screen and (max-width:992px) {
	.about-page .about-header {
		margin-top:35px;
	}
	.about-page .about-header p {
		font-size:30px;
		letter-spacing: 3px;
	}
	.about-page .first-hero {
		margin-bottom:150px;
	}
	.about-page .first-hero .first-hero-content-wrapper .desktop-image,
	.about-page .second-hero .second-hero-content-wrapper .desktop-image,
	.about-page .third-hero .third-hero-content-wrapper .desktop-image {
		display:none;
	}
	.about-page .first-hero .first-hero-content-wrapper .mobile-image,
	.about-page .second-hero .second-hero-content-wrapper .mobile-image,
	.about-page .third-hero .third-hero-content-wrapper .mobile-image {
		display:initial;
		width:100%;
	}
	.about-page .first-hero .first-hero-content-wrapper .first-hero-text-wrapper  .title,
	.about-page .second-hero .second-hero-content-wrapper .second-hero-text-wrapper .title,
	.about-page .third-hero .third-hero-content-wrapper .third-hero-text-wrapper .title {
		font-size:20px;
		font-family:oswaldmedium;
		letter-spacing:1px;
		margin-bottom:10px;
	}
	.about-page .first-hero .first-hero-content-wrapper .first-hero-text-wrapper .text,
	.about-page .second-hero .second-hero-content-wrapper .second-hero-text-wrapper .text,
	.about-page .third-hero .third-hero-content-wrapper .third-hero-text-wrapper .text {
		font-size:15px;
		font-family:apercumedium;
		letter-spacing:0px;
		line-height: 20px;
	}
	.about-page .first-hero .first-hero-content-wrapper .first-hero-text-wrapper {
		position:absolute;
		right:0;
		left:0;
		bottom:-115px;
		float:none;
		margin:0 auto;
		padding:35px 20px 25px 20px;
	}
	.about-page .second-hero {
		margin-bottom:220px;
	}
	.about-page .second-hero .second-hero-content-wrapper .second-hero-text-wrapper{
		right:0;
		left:0;
		bottom:-190px;
		margin:0 auto;
		padding:35px 20px 25px 20px;
	}
	.about-page .third-hero {
		margin-bottom:490px;
	}
	.about-page .third-hero .third-hero-content-wrapper .third-hero-text-wrapper{
		top:50%;
		right:0;
		left:0;
		bottom:auto;
		margin:0 auto;
		padding:35px 20px 25px 20px;
	}
}