.account-order-page {
	margin-bottom:200px;
}
.account-order-page .account-header {
	text-align:center;
	margin-top:85px;
	margin-bottom:40px;
}
.account-order-page .account-header p {
	font-size:35px;
	letter-spacing:3px;
	font-family:oswaldmedium;
	color:#4D4D4A;
	text-transform:uppercase;
}
.account-order-page .order-labels,
.account-order-page .order-wrapper {
	float:none;
	margin:0 auto;
}
.account-order-page .order-labels {
	overflow:auto;
	border-bottom:1px solid #4D4D4A;
	margin-bottom:30px;
}
.account-order-page .order-labels p {
	font-family:apercumedium;
	letter-spacing:1px;
	text-transform: uppercase;
	color:#4D4D4A;
	white-space: nowrap;
}
.account-order-page .order-labels .order-number-label,
.account-order-page .order-labels .date-label {
	padding-left:0;
}
.account-order-page .order-labels .price-label {
	text-align:center;
}
.account-order-page .order-wrapper {
	padding-left:0px;
	overflow:auto;
}
.account-order-page .order-wrapper p {
	font-family:aperculight;
	color:#4D4D4A;
}
.account-order-page .order-wrapper .date {
	padding-left:0;
}
.account-order-page .order-wrapper .customer {
	padding-left:30px;
}
.account-order-page .order-wrapper .status {
	padding-left:35px;
}
.account-order-page .order-wrapper .order-url {
	text-align:center;
	color:#4D4D4A;
	font-family:aperculight;
	text-decoration:underline;
	text-transform:uppercase;

}

@media screen and (max-width:992px) {
	.account-order-page .account-header {
		margin-top:40px;
		margin-bottom:40px;
	}
	.account-order-page .account-header p {
		font-size:25px;
	}
	.account-order-page .order-labels .price-label,
	.account-order-page .order-labels .customer-label,
	.account-order-page .order-labels .status-label {
			display:none;

	}
	.account-order-page .order-wrapper {
		padding:0;
	}
	.account-order-page .order-wrapper .price,
	.account-order-page .order-wrapper .customer,
	.account-order-page .order-wrapper .status {
		display:none;
	}
	.account-order-page .order-wrapper .order-url {
			font-size:13px;
			font-family:apercubold;
			white-space: nowrap;
			padding:0;
	}
}