.article-page {
	width:100%;
	padding:0;
	margin-bottom:150px;
}
.article-page .article-featured-image {
	padding:0;
}
.article-page .article-featured-image #hero {
	width:100%;
}
.article-page .article-featured-image .article-details-wrap {
	position:absolute;
	background-color:#f2f2f2;
	bottom:-50px;
	padding:60px;
	z-index:10;
	max-width: 400px;
}
.article-page .article-featured-image .article-details-wrap:after {
	content:'';
	position:absolute;
	width:30%;
	height:100%;
	float:right;
	background-color:#f2f2f2;
	z-index:-1;
	top:0;
	right:-55px;
	transform:skew(15deg);

}
.article-page .article-featured-image .article-details-wrap .date-blog {
	font-size:20px;
	font-family:oswaldmedium;
	color:#4D4D4A;
	letter-spacing:1px;
}
.article-page .article-featured-image .article-details-wrap .title {
	font-size:30px;
	margin-bottom:50px;
	text-transform:uppercase;
	font-family:oswaldmedium;
	color:#4D4D4A;
	letter-spacing:1px;
}


.mobile-article-details {
	padding: 12px;
	margin-top: 25px;
}

.mobile-article-details .date-blog {
	font-size:18px;
	font-family:oswaldmedium;
	color: #4D4D4A;
}

.mobile-article-details .title {
	font-size:36px;
	margin-top: 25px;
	text-transform:uppercase;
	font-weight:bold;
	font-family:oswaldmedium;
	color: #4D4D4A;
}

.article-page .article-featured-image .article-details-wrap .article-social-media-link img {
	padding-right:40px;
}
.article-page .article-content {
	padding-top:55px;
	padding-right:95px;
	padding-left:20px;
}
.article-page .article-content p {
	font-size:16px;
	line-height:28px;
	font-family:aperculight;
	color:#4D4D4A;
}

.article-page .article-content img { 
	display: block;
	margin: 0 auto;
}

.featured-articles-wrap {
	padding:0;
	margin-top:120px;
}
.featured-articles-wrap .featured-article-1 {
	padding-left:75px;
}
.featured-articles-wrap .featured-article-1 .featured-image-1 {
	padding:0;
}
.featured-articles-wrap .featured-article-1 .featured-image-1 img{
	width:100%;
}
.featured-articles-wrap .featured-article-1 .featured-description-1,
.featured-articles-wrap .featured-article-2 .featured-description-2 {
	background-color: #F0F0F0;
	padding:30px;
	padding-bottom:20px;
	height:230px;
}
.featured-articles-wrap .featured-article-1 .featured-description-1 .article-title,
.featured-articles-wrap .featured-article-2 .featured-description-2 .article-title {
	display:block;
	font-size:25px;
	margin-bottom:18px;
	text-transform:uppercase;
	font-family:oswaldmedium;
	letter-spacing:1px;
	color:#4D4D4A;
}
.featured-articles-wrap .featured-article-1 .featured-description-1 .article-date,
.featured-articles-wrap .featured-article-2 .featured-description-2 .article-date,
.featured-articles-wrap .featured-article-1 .featured-description-1 .blog-title,
.featured-articles-wrap .featured-article-2 .featured-description-2 .blog-title {
	margin-bottom:5px;
	display:inline-block;
	text-transform: uppercase;
	font-family:oswaldmedium;
	color:#4D4D4A;
}
.featured-articles-wrap .featured-article-1 .featured-description-1 .article-excerpt,
.featured-articles-wrap .featured-article-2 .featured-description-2 .article-excerpt {
	font-size:18px;
	margin-bottom:0;
	font-family:apercumedium;
	letter-spacing:1px;
	color:#4D4D4A;
}
.featured-articles-wrap .featured-article-1 .link,
.featured-articles-wrap .featured-article-2 .link {
	padding:30px;
	background-color: #F0F0F0;
}
.featured-articles-wrap .featured-article-1 .link a,
.featured-articles-wrap .featured-article-2 .link a {
	font-family:apercubold;
	text-transform:uppercase;
	letter-spacing:1px;
	color:#4D4D4A;
}
.featured-articles-wrap .featured-article-2 {
	padding-right:75px;
}
.featured-articles-wrap .featured-article-2 .featured-image-2 {
	padding:0;
}
.featured-articles-wrap .featured-article-2 .featured-image-2 img {
	width:100%;
}