.blog-page {
	margin-bottom:180px;
}
.blog-page .blog-header {
	text-align:center;
	margin-top:80px;
	margin-bottom:30px;
}
.blog-page .blog-header p {
	font-size:35px;
	letter-spacing:3px;
	font-family:oswaldmedium;
	text-transform:uppercase;
	color:#4D4D4A;
}
.blog-page .blog-posts .blog-post-image {
	padding:0;
}
.blog-page .blog-posts .blog-post-image img {
	width:100%;

}
.blog-page .blog-posts .blog-post-description {
	background-color:#F0F0F0;
	padding:30px;
	padding-bottom:20px;
	height:230px;
}
.blog-page .blog-posts .blog-post-description span {
	display:block;
}
.blog-page .blog-posts .article-link {
	background-color: #F0F0F0;
	padding:30px;
}
.blog-page .blog-posts .blog-post-description .article-date,
.blog-page .blog-posts .blog-post-description .blog-title {
	display:inline-block;
	margin-bottom:5px;
	text-transform:uppercase;
	font-family:oswaldmedium;
}

.blog-page .blog-posts .blog-post-description a:hover {
	text-decoration: none;
}

.blog-page .blog-posts .blog-post-description .article-title {
	font-size:25px;
	font-family:oswaldmedium;
	margin-bottom:18px;
	text-transform:uppercase;
	letter-spacing:1px;
	color:#4D4D4A;
}
.blog-page .blog-posts .blog-post-description .article-excerpt {
	font-size:18px;
	margin-bottom:0;
	letter-spacing:1px;
	font-family:apercumedium;
	color:#4D4D4A;
}
.blog-page .blog-posts .article-link a {
	color:#4D4D4A;
	font-family:apercubold;
	letter-spacing:1px;
	text-transform:uppercase;

}
@media screen and (max-width:992px) {
	.blog-page {
		margin-bottom:60px;
	}
	.blog-page .blog-header {
		margin-top:40px;
		margin-bottom:10px;

	}
	.blog-page .blog-header p{
		font-size:30px;
	}
	.blog-page .blog-posts {
		padding:0;
		margin-bottom:20px;
		background:#F0F0F0;
	}
	.blog-page .blog-posts .blog-post-description {
		padding:20px;
	}
	.blog-page .blog-posts .blog-post-description .article-title {
		font-size:21px;
	}
	.blog-page .blog-posts .blog-post-description .article-excerpt {
		font-size:15px;
	}
	.blog-page .blog-posts .article-link {
		padding-left:20px;
		padding-bottom:20px;
		padding-top:0px;
		display: inline-block;
	}
}