label {
	display:block;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
.contact-page form {
	margin-bottom:150px;
}
.contact-page .contact-text .contact-header-mobile {
	display:none;
}
.contact-page .contact-description {
	margin-top: 80px;
}
.contact-page .contact-text {
	float:none;
	margin: 0 auto;
}
.contact-page .contact-text .contact-header {
	text-transform: uppercase;
	font-size:35px;
	font-weight:bold;
	margin-bottom:30px;
	font-family:oswaldregular;
	letter-spacing:3px;
	color:#4D4D4A;
}
.contact-page .contact-input {
	margin-top:15px;
}
.contact-page .contact-input-wrapper {
	float:none;
	margin:0 auto;
}
.contact-page .contact-input .contact-input-wrapper .name-input-wrapper {
	padding-left:0;
	padding-right:25px;
}
.contact-page .contact-input .contact-input-wrapper .name-input-wrapper input {
	width:100%;
	border-right:0;
	border-left:0;
	border-top:0;
	border-bottom:1px solid #4D4D4A;
	background-color:transparent;
	padding:0;
}
.contact-page .contact-input .contact-input-wrapper .email-input-wrapper {
	padding-right:0px;
	padding-left:25px;
}
.contact-page .contact-input .contact-input-wrapper .email-input-wrapper input {
	width:100%;
	border-right:0;
	border-left:0;
	border-top:0;
	border-bottom:1px solid #4D4D4A;
	background-color:transparent;
	padding:0;
}
label[for="subject-input"] {
	padding-top:;
}
.contact-page .contact-input .subject-input-wrapper {
	padding-right:0;
	padding-left:0;
	padding-top:30px;
}
.contact-page .contact-input #subject-input {
	border-right:0;
	border-left:0;
	border-top:0;
	border-bottom:1px solid #4D4D4A;
	width:100%;
	background-color:transparent;
}
.contact-page .contact-input input[type=submit] {
	display:block;
	margin:0 auto;
	background:none;
	border: 2px solid #4D4D4A;
	padding:10px 100px 10px 100px;
}
.contact-page .contact-input .message-input-wrapper {
	padding-left:0;
	padding-right:0;
	padding-top:30px;
}
.contact-page .contact-input .message-input-wrapper label {
	margin-bottom:15px;
}
.contact-page .contact-input .message-input-wrapper textarea {
	width:100%;
	border:1px solid #4D4D4A;
	background-color:transparent;
}
.contact-page .contact-input .submit-button {
	margin-top:50px;
}
.contact-page .contact-input .submit-button input {
	font-family:apercumedium;
	color:#4D4D4A;
	border-color:#4D4D4A;
}
label[for="name-input"],
label[for="email-input"],
label[for="message-input"],
label[for="subject-input"] {
	text-transform: uppercase;
	font-family:apercumedium;
	color:#4D4D4A;
}
@media screen and (max-width:992px) {
	.contact-page .contact-input {
		margin-bottom:60px;
	}
	.contact-page .contact-description {
		margin-top:45px;
		text-align:center;
	}
	.contact-page .contact-description .contact-text .contact-header {
		display:none;
	}
	.contact-page .contact-description .contact-text .contact-header-mobile {
		display:initial;
		font-size:25px;
		font-family:oswaldmedium;
		text-transform:uppercase;

	}
	.contact-page .contact-input .contact-input-wrapper .name-input-wrapper {
		padding-right:0;
	}
	.contact-page .contact-input .contact-input-wrapper input[type="text"] {
		padding-top:13px;

	}
	.contact-page .contact-input .contact-input-wrapper .email-input-wrapper {
		padding-left:0;
		padding-top:25px;
	}
	.contact-page .contact-input .contact-input-wrapper .subject-input-wrapper {
		padding-top:25px;
	}
	.contact-page .contact-input .contact-input-wrapper .submit-button {
		padding:0;
		margin-top:25px;
	}
	.contact-page .contact-input .contact-input-wrapper .submit-button input {
		width:100%;
		border:1px solid black;
	}
}

