.widen {
  margin-right:10px;
  margin-left:6px;
}
.centered {
  float:none;
  margin:0 auto;
}
.divider::before {
  float: right;
  content:'';
  border-top: 11px solid #4D4D4A;
  border-left: 6px solid transparent;
  margin-right:-5px;
}
.divider::after {
  float: right;
  content: '';
  border-top: 11px solid #E4E0DD;
  border-left: 6px solid transparent;
  margin-top: -0.5px;
  margin-right: -7.5px;
}
.divider {
  padding:0;
  margin-top:20px;
  height:1.3px;
  background-color: #4D4D4A;
}