.container .homepage-description {
	margin-bottom:170px;
}
.homepage-description .description-image .mobile-image {
	display:none;
}
.homepage-description .description-image {
	padding:0;
}
.homepage-description .description-image .desktop-image {
	width:100%;
	padding:0;
}	
.homepage-description .description-image .description-content {
	bottom:-100px;
}
.homepage-description .description-image .description-content .wrapper span {
	display: block;
}

@media screen and (min-width:993px) {
	.homepage-description .description-image .description-content .wrapper {
		margin-left:50px;
	}
	.homepage-description .description-image .description-content .wrapper .header {
		font-size:33px;
		font-weight: bold;
		margin-bottom:20px;
		color:white;
	}
	.homepage-description .description-image .description-content .wrapper .text {
		background-color: #F0F0F0;
		padding:50px 35px 50px 35px;
		font-size:20px;
		margin-right:-35px;
		line-height:35px;
	}
	.description-content {
		position:absolute;
		bottom:-140px;
	}
	.full-width {
		width:100%;
		padding:0px;
		margin:50px 0px 0px 0px;
	}
	.homepage-description {
		width:100%;
		margin:0px;
	}
	
}
@media screen and (max-width:992px) {
	.container .homepage-description {
		margin-bottom:100px;

	}
	.homepage-description .description-image .description-content {
		position:absolute;
		bottom:-50px;
		left:0;
		right:0;
		margin:0 auto;
	}
	.homepage-description .description-image .description-content .wrapper .header {
		color:white;
		font-size:25px;
		font-weight: bold;
	}
	.homepage-description .description-image .description-content .wrapper .text {
		background-color:#F0F0F0;
		padding:35px 30px 35px 30px;
	}
}

@media screen and (max-width:641px) {
	.container .homepage-description {
		margin-bottom:170px;

	}
	.homepage-description .description-image .mobile-image {
		display:initial;
		width:100%;
	}
	.homepage-description .description-image .desktop-image {
		display:none;
	}
	.homepage-description {
	}
	.homepage-description .description-image {
		padding-left:5px;
		padding-right:5px;
	}
	.row .description-image .description-content {
		float:none;
		margin:0 auto;
		position:absolute;
		left:0;
		right:0;
		bottom:-100px;
	}
	.row .description-image .description-content .wrapper {

	}
	.row .description-image .description-content .wrapper .header {
		font-size:22px;
		color:white;
	}

	.row .description-image .description-content .wrapper .text {
		margin-top:11px;
		font-size:16px;
		background-color:#F0F0F0;
		padding:25px 20px 25px 20px
}