.featured-collection-2 {
  padding-left:70px;
  padding-right:70px;
}
.vertical-align {
  display:flex;
  align-items:center;
}
.row {
  margin-top:50px;
  margin-left:5px;
  margin-right:5px;
}
.col-centered {
  float:none;
  margin:0 auto;
}
.img-wrapper-2 {
  z-index:-2;
  padding:0;
}
.img-wrapper-2 img {
  width:100%;
}

.content-2 {    
    display:inline-block;
    background-color:#F0F0F0;
    padding-left:0;
    padding-right:0;
}
.text-button-2 {
  padding-left:50px;
  padding-top:60px;
  padding-right:0;
}

.content-2 .text-button-2 .text-2 .title-2{
  line-height:43px;
  font-size:35px;
  margin-bottom:40px;
  text-transform: uppercase;
}

.content-2 span {
    display:block;
    font-size:26px;
    line-height:31px;
    position: relative;
    z-index: 0;
}
.button-2 {
  position: relative;
  z-index: 0;
}
.button-3 {
  width:70%;
  margin-top:40px;
  white-space: nowrap;
  padding-top:10px;
  padding-bottom:10px;
  background: none;
  outline: none;
  border: 2px solid black

}
.angle-2 {
  display: inline-block; 
  position: absolute;
  z-index: -1;
  width:90%;
  height:100%;
  transform: skewX(-14.3deg);
  right:-56px;
  float:right;
  background-color:#F0F0F0;  
}
.featured-content {
  display:flex;
  margin-bottom:70px;
}
.featured-collection-2 .featured-content .img-wrapper-2 .mobile-image {
  display:none;
}
.content-2:after {
  content:'';
  border-top:84px solid #F0F0F0;
  border-right:21px solid #e4e0dd;
  position:absolute;
  bottom:-81px;
  left:0;
  right:0;
}

@media screen and (max-width:1200px) {
  .featured-collection-2 {
    padding-left:0;
    padding-right:0;
  }
  .featured-collection-2 .content-2 .text-button-2 .title-2 {
    margin-bottom:30px;
  }
  .angle-2 {
    right:-52px;
  }
  .img-wrapper-2 {
    padding:0;
  }
  .content-2:after {
    content:'';
    border-top:84px solid #F0F0F0;
    border-right:21px solid #e4e0dd;
    position:absolute;
    bottom:-81px;
    left:0;
    right:0;
  }
  .button-3 {
    margin-top:30px;
  }
}
@media screen and (max-width:992px) {
  .featured-collection-2 .featured-content .img-wrapper-2 .desktop-image {
    display:none;
  }
  .featured-collection-2 .featured-content .img-wrapper-2 .mobile-image {
    display:initial;
    width:100%;
  }
  .content-2:after {
    display:none;
  }
  .featured-content {
    display:initial;
  }
  .featured-collection-2 {
    padding-left:15px;
    padding-right:15px;
  }
  .row {
    margin-top:15px;
    margin-right:-7px;
    margin-left:-7px;
  }
  .img-wrapper-2 {
    width:100%;
  }
  .content-2 {
    width:100%;
    background-color:#F0F0F0;
    margin-left:0;
  }
  .featured-collection-2 .content-2 .text-button-2 {
    padding:30px;
  }
  .content-2 .text-button-2 .text-2 {
    margin-bottom:15px;
  }
  .content-2 .text-button-2 .text-2 .title-2 {
    line-height:18px;
    margin-bottom:10px;
  }
  .content-2 .text-button-2 .text-2 .title-2 b {
    font-size:18px;
  }
  .content-2 .text-button-2 .text-2 span {
    font-size:15px;
    line-height:20px;
  }
  .button-3 {
    width:80%;
    margin-top:0px;
    padding-top:10px;
    padding-bottom:10px;
    font-size: 13px;
    border:1px solid black;

  }
}