.template-page {
	margin-top: 50px;
	margin-bottom: 50px;
	color: #4D4D4A;
}

.template-page .page-content {
	padding: 0px 24px;
	font-family: aperculight;
}
.template-page .page-content h1 {
	font-family:oswaldmedium;
	text-transform: uppercase;
	font-size:42px;
}
.template-page .page-content p {
	font-size:18px;
	font-family:aperculight;

}
.template-page .page-content p strong {
	font-size:18px;
	font-family:apercumedium;
}
.template-page .page-content h2 {
	font-family: oswaldmedium;
	text-transform: uppercase;
	font-size:33px;
}
.template-page .page-content h3 {
	font-family:apercumedium;
	font-size:26px;
}
.template-page .page-content h4{
	font-family:oswaldmedium;
	font-size:16px;
}
.template-page .page-content h5 {
	font-family:aperculight;
	font-size:14px;
}