.template-page {
	margin-top: 50px;
	margin-bottom: 50px;
	font-family: oswaldregular;
	color: #4D4D4A;
}

.template-page .page-content {
	padding: 0px 24px;
}

strong, h1, h2, h3, h4, h5, h6 {
	font-family: oswaldmedium;
}