#shopify-section-register-template {
	margin:0 auto;
}
.register-page .close {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}
.register-page .close:hover {
  opacity: 1;
}
.register-page .close:before, 
.register-page .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
}
.register-page .close:before {
  transform: rotate(45deg);
}
.register-page .close:after {
  transform: rotate(-45deg);
}

.register-page .register-wrap .register-header {
	text-align:center;
}
.register-page .register-wrap .register-header p {
	margin-bottom:50px;
	font-size:35px;
	font-family:oswaldmedium;
	letter-spacing:3px;
	color:#4D4D4A;
	text-transform:uppercase;
}
.register-page .register-wrap .email-register, 
.register-page .register-wrap .password-register,
.register-page .register-wrap .password-confirm {
	margin:0 auto;
	float:none;
	margin-bottom:35px;
}
.register-page .register-wrap .register-button {
	text-align:center;
}
.register-page .register-wrap .register-button input {
	background:none;
	border:2px solid #4D4D4A;
	padding:10px 80px 10px 80px;
	font-family:apercumedium;
}
.register-page .register-wrap .email-register label,
.register-page .register-wrap .password-register label,
.register-page .register-wrap .password-confirm label {
	display:block;
	text-transform:uppercase;
	font-family:apercumedium;
	letter-spacing:1px;
	color:#4D4D4A;
}

.register-page .register-wrap .email-register input,
.register-page .register-wrap .password-register input,
.register-page .register-wrap .password-confirm input {
	width:100%;
	border-top:0;
	border-left:0;
	border-right:0;
	border-bottom:1px solid #4D4D4A;
	padding-top:10px;
	background-color:transparent;
}
.register-page .register-wrap .sign-in-link {
	text-align:center;
	margin-top:30px;
}
.register-page .register-wrap .sign-in-link p {
	font-family:apercumedium;
	letter-spacing:1px;
	color:#4D4D4A;
}
.register-page .register-wrap .sign-in-link a {
	color:#4D4D4A;
	letter-spacing:1px;
	text-decoration:underline;
}

@media screen and (max-width:992px) {
	.register-page .close {
		display:none;
	}
	.register-page .register-header {
		margin-top:40px;
	}
	.register-page .register-wrap .email-register label,
	.register-page .register-wrap .password-register label,
	.register-page .register-wrap .password-confirm label {
		margin-bottom:7px;
	}
	.register-page .register-wrap .email-register input,
	.register-page .register-wrap .password-register input,
	.register-page .register-wrap .password-confirm input {
		padding-top:15px;
	}
	.register-page .register-wrap .register-button {
		margin-top:60px;
	}
	.register-page .register-wrap .register-button input {
		border: 1px solid black;
		width:100%;
	}
	.register-page .register-wrap .sign-in-link {
		margin-top:15px;
	}
}