.reset-password-page .reset-wrap {
	padding-top:70px;
	float:none;
	margin:0 auto;
	padding-bottom:70px;
}
.reset-password-page .reset-wrap form label[for="password"],
.reset-password-page .reset-wrap form label[for="password_confirmation"] {
	font-family:apercumedium;
	letter-spacing: 1px;
	color:#4D4E4C;
	text-transform: uppercase;
}
.reset-password-page .reset-wrap form input[type="password"] {
	width:100%;
	border:none;
	border-bottom:1px solid #4D4E4C;
	background:none;
	margin-bottom:20px;
}
.reset-password-page .reset-wrap form input[type="submit"] {
	display:block;
	width:60%;
	background: none;
	border:2px solid #4D4E4C;
	text-align: center;
	margin:0 auto;
	margin-top:20px;
	padding-top:10px;
	padding-bottom:10px;
	font-family:apercumedium;
	text-transform:uppercase;
	color:#4D4E4C;
	letter-spacing: 1px;
}